* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background: #1F2226;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}
.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF8F2C;
  font-size: 80px;
  height: 25vh;
}
.sidebar .logo img {
  width: 70%;
}
.sidebar .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .search input {
  width: 90%;
  height: 3rem;
  border-radius: 8px;
  border: none;
  background: #474F59;
  outline: none;
  color: #FFFFFF;
  padding: 1rem;
  font-size: 24px;
}
.sidebar .search input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.4;
}
.sidebar .search input::placeholder {
  color: #FFFFFF;
  opacity: 0.4;
}
.sidebar .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
}
.sidebar .nav a {
  width: 90%;
  text-decoration: none;
  color: #FF8F2C;
  font-size: 25px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.sidebar .nav a:hover {
  background: #FF8F2C;
  color: #1F2226;
  border-radius: 8px;
}
.sidebar .perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  width: 90%;
  height: 80px;
  border-radius: 8px;
  background: #1F2226;
  cursor: pointer;
}
.sidebar .perfil:hover {
  background: #474F59;
}
.sidebar .perfil img {
  width: 20%;
  border-radius: 50%;
}
.sidebar .perfil img:nth-child(3) {
  width: 13%;
  border-radius: 50%;
}
.sidebar .perfil p {
  color: #FFFFFF;
  font-size: 25px;
}

.main-ferramentas {
  width: 80%;
  height: 100vh;
  float: right;
}
.main-ferramentas .ferramentas {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.main-ferramentas .ferramentas .card-ferramentas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 280px;
  height: 250px;
  background: #F27405;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}
.main-ferramentas .ferramentas .card-ferramentas:hover {
  margin-bottom: 1rem;
  box-shadow: 5px 5px #1F2226;
  transition: 0.6s;
}
.main-ferramentas .ferramentas .card-ferramentas p {
  color: #1F2226;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem;
}

.main-treinamentos {
  background: #FFFFFF;
  width: 80%;
  height: 100vh;
  float: right;
}
.main-treinamentos .treinamentos {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.main-treinamentos .treinamentos .card-treinamentos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 280px;
  height: 250px;
  background: #F27405;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}
.main-treinamentos .treinamentos .card-treinamentos button {
  background: #1F2226;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 1rem;
  text-transform: uppercase;
  color: #FF8F2C;
  font-size: 18px;
  font-weight: bold;
  display: none;
}
.main-treinamentos .treinamentos .card-treinamentos:hover {
  margin-bottom: 1rem;
  background: #FF8F2C;
  height: 300px;
  box-shadow: 5px 5px #1F2226;
}
.main-treinamentos .treinamentos .card-treinamentos:hover button {
  display: block;
  cursor: pointer;
}
.main-treinamentos .treinamentos .card-treinamentos img {
  margin: 1rem;
}
.main-treinamentos .treinamentos .card-treinamentos h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 250px;
  color: #1F2226;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.main-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  float: right;
  background: #1F2226;
}
.main-perfil .perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80vh;
}
.main-perfil .perfil .Perfil-LadoEsquerdo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 80vh;
}
.main-perfil .perfil .Perfil-LadoEsquerdo img {
  width: 80%;
  border-radius: 50%;
  margin: 1.5rem;
}
.main-perfil .perfil .Perfil-LadoEsquerdo input {
  width: 80%;
  height: 60px;
  border-radius: 12px;
  border: 1px solid #FF8F2C;
  background: #232323;
  font-size: 22px;
  text-align: center;
  margin: 1rem;
  color: #FF8F2C;
  outline: none;
}
.main-perfil .perfil .Perfil-LadoEsquerdo input::-moz-placeholder {
  color: #FF8F2C;
  opacity: 0.7;
}
.main-perfil .perfil .Perfil-LadoEsquerdo input::placeholder {
  color: #FF8F2C;
  opacity: 0.7;
}
.main-perfil .perfil .Perfil-LadoEsquerdo input[type=button] {
  background: #FF8F2C;
  color: #1F2226;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.main-perfil .perfil .Perfil-LadoDireito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 80vh;
}
.main-perfil .perfil .Perfil-LadoDireito input {
  width: 90%;
  height: 60px;
  border-radius: 12px;
  border: 1px solid #FF8F2C;
  background: #232323;
  font-size: 22px;
  text-align: center;
  margin: 1rem;
  color: #FF8F2C;
  outline: none;
}
.main-perfil .perfil .Perfil-LadoDireito input::-moz-placeholder {
  color: #FF8F2C;
  opacity: 0.7;
}
.main-perfil .perfil .Perfil-LadoDireito input::placeholder {
  color: #FF8F2C;
  opacity: 0.7;
}
.main-perfil .perfil .Perfil-LadoDireito input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#logout {
  display: none;
  position: absolute;
  bottom: 150px;
  left: 15.5px;
  width: 260px;
  height: 60px;
  background: #1F2226;
  cursor: pointer;
}
#logout a {
  background: #1F2226;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  height: 60px;
}
#logout a:hover {
  background: #474F59;
  border-radius: 5px;
}

.main-curso-empreendedorismo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  float: left;
  background: #1F2226;
}
.main-curso-empreendedorismo h2 {
  text-transform: uppercase;
  color: #FF8F2C;
  font-size: 40px;
  margin: 1rem;
}
.main-curso-empreendedorismo iframe {
  width: 720px;
  height: 420px;
  border: 1rem solid #F27405;
}
.main-curso-empreendedorismo .btn-curso {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.main-curso-empreendedorismo .btn-curso input {
  padding: 1rem 2rem;
  background: #F27405;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem;
}
.main-curso-empreendedorismo .btn-curso input:hover {
  background: #FF8F2C;
  color: #FFFFFF;
}/*# sourceMappingURL=MEI.css.map */